.menu-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  margin-top: 16px;
}

.menu-btn {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.menu-btn:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
}
